# Ashrae Energy Predictions

Kaggle Competition from

In [6]:
df = read.csv(file = '/home/roman/evo/datasets/ashrae-energy-prediction/ashrae-energy-prediction/train.csv', header = TRUE)
weather = read.csv(file = '/home/roman/evo/datasets/ashrae-energy-prediction/ashrae-energy-prediction/weather_train.csv', header=TRUE)
building_meta = read.csv(file = '/home/roman/evo/datasets/ashrae-energy-prediction/ashrae-energy-prediction/building_metadata.csv', header=TRUE)

In [7]:
head(df)

  building_id meter timestamp           meter_reading
1 0           0     2016-01-01 00:00:00 0
2 1           0     2016-01-01 00:00:00 0
3 2           0     2016-01-01 00:00:00 0
4 3           0     2016-01-01 00:00:00 0
5 4           0     2016-01-01 00:00:00 0
6 5           0     2016-01-01 00:00:00 0

In [8]:
head(weather)

  site_id timestamp           air_temperature cloud_coverage dew_temperature
1 0       2016-01-01 00:00:00 25.0             6             20.0
2 0       2016-01-01 01:00:00 24.4            NA             21.1
3 0       2016-01-01 02:00:00 22.8             2             21.1
4 0       2016-01-01 03:00:00 21.1             2             20.6
5 0       2016-01-01 04:00:00 20.0             2             20.0
6 0       2016-01-01 05:00:00 19.4            NA             19.4
  precip_depth_1_hr sea_level_pressure wind_direction wind_speed
1 NA                1019.7               0            0.0
2 -1                1020.2              70            1.5
3  0                1020.2               0            0.0
4  0                1020.1               0            0.0
5 -1                1020.0             250            2.6
6  0                    NA               0            0.0

In [10]:
head(building_meta)

  site_id building_id primary_use square_feet year_built floor_count
1 0       0           Education     7432      2008       NA
2 0       1           Education     2720      2004       NA
3 0       2           Education     5376      1991       NA
4 0       3           Education    23685      2002       NA
5 0       4           Education   116607      1975       NA
6 0       5           Education     8000      2000       NA

## Data Analysis

Before we do any analysis we need to check the occurrences of null values in the datasets. If we need to impute more than 5% of that column's data then we should probably consider ignoring it as we'll be making a significant amount of the data up. We will evaluate the data by showing the number of distinct values for each column (if they're categorical) and calculate the occurrence of `NA` in those columns too.

In [18]:
df_analysis = data.frame()

for (i in names(df)) {
    df_analysis$i_null = sum(is.na(df$names))
}

ERROR: Error in `$<-.data.frame`(`*tmp*`, "i_null", value = 0L): replacement has 1 row, data has 0

In [11]:
summary(df)

  building_id         meter                      timestamp
 Min.   :   0.0   Min.   :0.0000   2016-12-27 22:00:00:    2370
 1st Qu.: 393.0   1st Qu.:0.0000   2016-12-27 17:00:00:    2369
 Median : 895.0   Median :0.0000   2016-12-27 19:00:00:    2369
 Mean   : 799.3   Mean   :0.6624   2016-12-27 20:00:00:    2369
 3rd Qu.:1179.0   3rd Qu.:1.0000   2016-12-27 21:00:00:    2369
 Max.   :1448.0   Max.   :3.0000   2016-12-12 21:00:00:    2368
                                   (Other)            :20201886
 meter_reading
 Min.   :       0
 1st Qu.:      18
 Median :      79
 Mean   :    2117
 3rd Qu.:     268
 Max.   :21904700

In [12]:
summary(weather)

    site_id                     timestamp      air_temperature  cloud_coverage
 Min.   : 0.000   2016-01-01 01:00:00:    16   Min.   :-28.90   Min.   :0.00
 1st Qu.: 3.000   2016-01-01 02:00:00:    16   1st Qu.:  7.20   1st Qu.:0.00
 Median : 7.000   2016-01-01 03:00:00:    16   Median : 15.00   Median :2.00
 Mean   : 7.479   2016-01-01 12:00:00:    16   Mean   : 14.42   Mean   :2.15
 3rd Qu.:11.000   2016-01-01 13:00:00:    16   3rd Qu.: 22.20   3rd Qu.:4.00
 Max.   :15.000   2016-01-01 14:00:00:    16   Max.   : 47.20   Max.   :9.00
                  (Other)            :139677   NA's   :55       NA's   :69173
 dew_temperature  precip_depth_1_hr sea_level_pressure wind_direction
 Min.   :-35.00   Min.   : -1.00    Min.   : 968.2     Min.   :  0.0
 1st Qu.:  0.60   1st Qu.:  0.00    1st Qu.:1011.8     1st Qu.: 80.0
 Median :  8.30   Median :  0.00    Median :1016.4     Median :190.0
 Mean   :  7.35   Mean   :  0.98    Mean   :1016.2     Mean   :180.5
 3rd Qu.: 14.40   3rd Qu.:  0.00    3rd Qu.:1020.8     3rd Qu.:280.0
 Max.   : 26.10   Max.   :343.00    Max.   :1045.5     Max.   :360.0
 NA's   :113      NA's   :50289     NA's   :10618      NA's   :6268
   wind_speed
 Min.   : 0.000
 1st Qu.: 2.100
 Median : 3.100
 Mean   : 3.561
 3rd Qu.: 5.000
 Max.   :19.000
 NA's   :304